
<div class="container-fluid">

    <div class="container">
      <div id="logo">

        <div class="row">
          <span id="backHome">
            <div class="col-sm-1 icon">
              <img [src]="'../assets/images/pad.png'"/>
            </div>
            <div class="col-10" [routerLink]="['/']">
              <div class="napis">
                <b>Games<span style="color: red;">S</span>tore</b>
              </div>
            </div>
          </span>
            <div class="col-sm-1" >
              <span *ngIf="!isLogin; then login else logout"></span>
              <ng-template #login>
                <div class="login btn" routerLink="login" >
                  Login
                </div>
              </ng-template>
              <ng-template #logout>
                <div class="login btn" (click)="onLogout()">
                  Logout
                </div>
              </ng-template>

            </div>
        </div>
      </div>
    </div>

</div>
