* {
  max-height: 50px;
}

.napis {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 5px;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: none;
}

.container-fluid {
  /*background: url("/assets/images/background-color.jpg");*/
}
