* {
  color: white;
  max-height: 30px;
  position: sticky;
  bottom: 0;
}
div {
  text-align: right;
  font-size: 0.9em;
  background-color: rgba(22, 22, 59, 0.45);
}

#footer {
  position: relative;
  padding: 10px;
}

article {
  position: absolute;
  right: 2px;
  bottom: 2px;
}
