<div class="container-fluid" id="tlo">
  <div class="container">
    <div id="searchingArea">
      <form class="row g-3" id="form" (change)="onSearchGame(f)" #f="ngForm">
        <div class="col-2">
          <label for="selectCategory">Category</label>
          <select ngModel name="selectCategory" class="form-control" id="selectCategory">
            <option selected disabled>Select Category</option>
            <option *ngFor="let cat of category">{{ cat }}</option>
          </select>
        </div>
        <div class="col-2">
          <label for="selectDevice">Device</label>
          <select ngModel name="selectDevice" class="form-control" id="selectDevice">
            <option selected disabled>Select Device</option>
            <option *ngFor="let dev of device">{{ dev }}</option>
          </select>
        </div>
        <div class="col-2">
          <label for="selectDrm">DRM</label>
          <select ngModel name="selectDrm" class="form-control" id="selectDrm">
            <option selected disabled>Select DRM</option>
            <option *ngFor="let dr of drm">{{ dr }}</option>
          </select>
        </div>
        <div class="col-1">
          <label id="priceLabel">Price</label>
          <input ngModel name="priceFrom" type="number" class="form-control" id="priceFrom" placeholder="From">
        </div>
        <div class="col-1">
          <label></label>
          <input ngModel name="priceTo" type="number" class="form-control" id="priceTo" placeholder="To">
        </div>
      </form>
    </div>
  </div>
</div>
