<div id="tlo">
  <div class="container-fluid" id="main">
    <div class="row header">
      <div class="col-4" id="product_image">
        <aside>
          <img [src]="game.imgUrl" alt="{{ game.name + '.img' }}" class="img-fluid">
        </aside>
      </div>
      <div class="col-6" id="product_welcome">
        <article>
          <h3>{{ game.name }}</h3>
          <div id="category" class="position-relative">
            <b>Category: </b>
            <span *ngFor="let category of game.category">
                {{ category.toString() + ' '}}
              </span>
          </div>
          <div id="device">
            <b>Device: </b>
            {{ game.device }}
          </div>
          <div id="DRM" *ngIf="game.device === 'PC'">
            <b>Platform: </b>
            {{ game.DRM }}
          </div>

          <div id="description">
            <p>{{ game.description }}</p>
          </div>
        </article>
      </div>
      <div class="col-2">
        <aside id="produkt_price">
          <fieldset class="border">
            <legend>Buy Me!</legend>

            <p>{{ game.price }} &#36; </p>
            <button class="btn" id="btnBuy">Buy</button>
          </fieldset>
        </aside>
      </div>
    </div>
    <div *ngIf="isLogin === !true; then adminPanel"></div>
      <ng-template #adminPanel>
        <div class="container" id="adminPanel">
          <div class="row">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-danger" (click)="onRemove = !onRemove">
                <span>Remove Game</span>
              </label>
              <label class="btn btn-info" (click)="onEdit = !onEdit">
                <span>Edit Game</span>
              </label>
            </div>
          </div>
        </div>
        <app-remove-game [game]="game" *ngIf="onRemove"></app-remove-game>
        <app-edit-game [game]="game" [games]="games" *ngIf="onEdit"></app-edit-game>
      </ng-template>

    <div class="row findMore">
<!--      <hr>-->
      <h4>Find more like this!</h4>
      <div class="container-fluid align-items-center">
        <app-game-item
          *ngFor="let game of games; index as i;"
          [item]="game">
        </app-game-item>
      </div>
    </div>
  </div>
</div>
