* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: PlayFairOnBlack;
  src: url("../assets/fonts/PlayfairDisplay-Black.ttf");
}

@font-face {
  font-family: PlayFair-Italic;
  src: url("../assets/fonts/PlayfairDisplay-italic.ttf");
}

@font-face {
  font-family: SpaceGrotesk-Light;
  src: url("../assets/fonts/SpaceGrotesk-Regular.ttf");
}
