* {
  font-family: SpaceGrotesk-Light;
}
.card {
  margin: 25px 20px;
  display: block;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background-color: black;
  color: white;
  max-height: 458px;
}

img {
  max-height: 320px;
  height: 320px;
  width: 100%;
}

#image {
  position: relative;
  width: 100%;
}

/*#priceImg {*/
/*  position: relative;*/
/*  !*width: 80px;*!*/
/*  !*height: 30px;*!*/
/*  !*background-color: white;*!*/
/*  !*top: 10px;*!*/
/*  !*right: -30px;*!*/
/*  !*font-size: 20px;*!*/
/*  !*text-align: center;*!*/
/*  !*border: 1px solid blanchedalmond;*!*/
/*  width: 50px;*/
/*  height: 75px;*/
/*  !*color: white;*!*/
/*  !*background: url("/assets/images/photo.svg");*!*/
/*  !*background-repeat: no-repeat;*!*/
/*  !*background-size: contain;*!*/

/*}*/

#price {
  position: relative;
  background-color: white;
}

#priceText {
  color: black;
  font-size: 1.4em;
  text-align: center;
  top: 0;
  right: 65px;
  font-family: PlayFairOnBlack;
  position: absolute;
  background-color: white;
  top: -25px;
  width: 85px;
  border: 1px solid black;
  right: 0;

}
